[submodule "Vendor/Commander"]
	path = Vendor/Commander
	url = https://github.com/kylef/Commander.git
[submodule "Vendor/JetPack"]
	path = Vendor/JetPack
	url = https://github.com/fluidsonic/JetPack.git
